<body class="bg-success">
    <div class="container text-center">

        <div class="p-3 mb-2 text-emphasis-info">
            <h1 style="margin-bottom: 30px;"><cite>SHOESTORE</cite></h1>
            <h3><cite>ELMEJOR SITIO PARA LA COMPRA DE ZAPATILLAS</cite></h3>
        </div>

        <div class="text-center" style="margin-top: 32px">
            <a class="btn bg-info" href="/login" role="button">Login</a>
        </div>
        <div class="text-center" style="margin-top: 32px">
            <a class="btn bg-info-subtle" href="/products" role="button">Lista de Productos</a>
        </div>
        <div class="text-center" style="margin-top: 32px">
            <a class="btn bg-primary" href="/register" role="button">Registrarse</a>
        </div>
        

    <script>
    </script>

</body>